<div class="row">
	<div class="col-md-6 col-sm-6">

		<h3>Citizenship & Other Information</h3>
		<div class="form-group row">
			<label for="nationality" class="col-sm-4 control-label">Nationality</label>
			<div class="col-sm-8">
				<label ng-show="isVisible_detailsMode" class="control-label text-info">{{responsedEmployee.nationality}}</label>
				<select ng-model="employeeField.nationality" ng-show="isVisible_createMode" class="form-control" name="nationality" id="nationality">
					<option ng-repeat="country in countries">{{country.countryName}}</option>

				</select>
				</select>
				<span ng-show="isVisible_createMode" class="text-danger">{{errors.nationality}}</span>
			</div>
		</div>

		<div class="form-group row">
			<label for="identificationNo" class="col-sm-4 control-label">Identification No
			</label>
			<div class="col-sm-8">
				<directive-input-field details-mode-visible='isVisible_detailsMode' create-mode-visible='isVisible_createMode' employee-detail="responsedEmployee.identificationNo"
				 input-field='employeeField.identificationNo'></directive-input-field>
			</div>
		</div>
		<div class="form-group row">
			<label for="passportNo" class="col-sm-4 control-label">Passport No
			</label>
			<div class="col-sm-8">
				<directive-input-field details-mode-visible='isVisible_detailsMode' create-mode-visible='isVisible_createMode' employee-detail="responsedEmployee.passportNo" input-field='employeeField.passportNo'></directive-input-field>
			</div>
		</div>
		<div class="form-group row">
			<label for="bankAccountNumber" class="col-sm-4 control-label">Bank Account Number</label>
			<div class="col-sm-8">
				<directive-input-field details-mode-visible='isVisible_detailsMode' create-mode-visible='isVisible_createMode' employee-detail="responsedEmployee.bankAccountNumber"
				 input-field='employeeField.bankAccountNumber'></directive-input-field>
			</div>
		</div>

		<h3>Status</h3>
		<div class="form-group row">
			<label for="gender" class="col-sm-4 control-label">Gender</label>
			<div class="col-sm-8">
				<label ng-show="isVisible_detailsMode" class="control-label text-info">{{responsedEmployee.gender}}</label>
				<select ng-model="employeeField.gender" ng-show="isVisible_createMode" class="form-control" name="gender" id="gender" required>
					<option value="Male" selected>Male</option>
					<option value="Female">Female</option>
				</select>
				</select>
				<span ng-show="isVisible_createMode" class="text-danger">{{errors.gender}}</span>
			</div>
		</div>
		<div class="form-group row">
			<label for="maritalStatus" class="col-sm-4 control-label">Marital Status
			</label>
			<div class="col-sm-8">
				<label ng-show="isVisible_detailsMode" class="control-label text-info">{{responsedEmployee.maritalStatus}}</label>
				<select ng-model="employeeField.maritalStatus" ng-show="isVisible_createMode" class="form-control" name="maritalStatus" id="maritalStatus">
					<option value="Married">Married</option>
					<option value="Un-married">Un-married</option>
					<option value="Complicated">Complicated</option>
				</select>
				</select>
			</div>
		</div>
	</div>
	<!-- end of contact information col -->


	<div class="col-md-6 col-sm-6">

		<h3>Contact Information</h3>
		<div class="form-group row">
			<label for="homeAddress" class="col-sm-4 control-label">Home Address
			</label>
			<div class="col-sm-8">
				<directive-input-field details-mode-visible='isVisible_detailsMode' create-mode-visible='isVisible_createMode' employee-detail="responsedEmployee.homeAddress" input-field='employeeField.homeAddress'></directive-input-field>
			</div>
		</div>

		<h3>Birth</h3>
		<div class="form-group row">
			<label for="dateOfBirth" class="col-sm-4 control-label">Date of Birth</label>
			<div class="col-sm-8">
				<label ng-show="isVisible_detailsMode" class="control-label text-info">{{responsedEmployee.dateOfBirth | date: 'yyyy-MM-dd'}}</label>
				<input ng-model="employeeField.dateOfBirth" ng-show="isVisible_createMode" type="date" value="" class="form-control" name="dateOfBirth"
				 placeholder="Date of Birth" required id="dateOfBirth">
				</select>
				<span ng-show="isVisible_createMode" class="text-danger">{{errors.dateOfBirth}}</span>
			</div>
		</div>

	</div>

</div>
<!-- end of row -->